@using Microsoft.AspNetCore.Authorization;

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}
@attribute [Authorize(Roles = "Admin")]
<h1>Index</h1>
<p>Hello Admin</p>
